@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Syne:wght@400;700;800&display=swap');

@theme {
  --font-inter: "Inter", sans-serif;
  --font-syne: "Syne", sans-serif;
}

@layer base {
  body {
    @apply font-inter;
    background-image: radial-gradient(#e5e5e5 1px, transparent 1px);
    background-size: 20px 20px;
  }
}
